<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <span class="navbar-brand" href="#">Polyglot Cloud</span>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" data-target="#navbar"
            [attr.aria-expanded]="!isCollapsed" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbar" class="collapse navbar-collapse" id="navbar" [ngbCollapse]="isCollapsed">
      <ul class="nav mr-auto">
        <li *ngIf="(authService.loggedIn | async)" class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
          <a class="nav-link" [routerLink]="['/']" (click)="isCollapsed = true">Home</a>
        </li>
      </ul>
      <ul class="nav ml-auto">
        <li *ngIf="(authService.loggedIn | async)" class="nav-item" [routerLinkActive] = "['active']" [routerLinkActiveOptions] = "{exact:true}">
          <a class="nav-link" [routerLink]="['/dashboard']" (click)="isCollapsed = !isCollapsed">{{dashboard}}</a>
        </li>
        <li *ngIf="(authService.loggedIn | async) && isys !== null" class="nav-item">
          <div ngbDropdown>
            <span class="nav-link text-light" id="nsMenu" ngbDropdownToggle>ISYs</span>
            <div ngbDropdownMenu aria-labelledby="nsMenu">
              <button *ngFor="let isy of isys" class="dropdown-item" (click)="updateCurrentIsy(isy)">{{isy.alias}}</button>
              <button class="dropdown-item" (click)="refreshIsys()">Refresh ISY's</button>
            </div>
          </div>
        </li>
        <li *ngIf="(authService.loggedIn | async)" class="nav-item" [routerLinkActive] = "['active']" [routerLinkActiveOptions] = "{exact:true}">
          <a class="nav-link" [routerLink]="['/store']" (click)="isCollapsed = !isCollapsed">Store</a>
        </li>
        <li *ngIf="(authService.loggedIn | async) && !environment.production" class="nav-item" [routerLinkActive] = "['active']" [routerLinkActiveOptions] = "{exact:true}">
          <a class="nav-link" [routerLink]="['/log']" (click)="isCollapsed = !isCollapsed">Log</a>
        </li>
        <li *ngIf="!(authService.loggedIn | async)" class="nav-item" [routerLinkActive] = "['active']" [routerLinkActiveOptions] = "{exact:true}">
          <a class="nav-link" (click)="authService.login()" [routerLink]="">Login</a>
        </li>
        <li *ngIf="(authService.loggedIn | async)" class="nav-item">
          <a class="nav-link" [routerLink]="['/login']" (click)="authService.logout()" >Logout {{username}}</a>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div><!-- container -->
</nav>
